<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="entity.UserInfo">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="site_id" jdbcType="VARCHAR" property="siteId" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="msisdn" jdbcType="VARCHAR" property="msisdn" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="first_regst_time" jdbcType="TIMESTAMP" property="firstRegstTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, site_id, unionid, openid, name, msisdn, sex, avatar_url, province, city, 
    last_login_time, first_regst_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="entity.UserInfo">
    insert into user_info (user_id, site_id, unionid, 
      openid, name, msisdn, 
      sex, avatar_url, province, 
      city, last_login_time, first_regst_time
      )
    values (#{userId,jdbcType=VARCHAR}, #{siteId,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{msisdn,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{avatarUrl,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{firstRegstTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="siteId != null">
        site_id,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="msisdn != null">
        msisdn,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="firstRegstTime != null">
        first_regst_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="msisdn != null">
        #{msisdn,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstRegstTime != null">
        #{firstRegstTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.UserInfo">
    update user_info
    <set>
      <if test="siteId != null">
        site_id = #{siteId,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="msisdn != null">
        msisdn = #{msisdn,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstRegstTime != null">
        first_regst_time = #{firstRegstTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.UserInfo">
    update user_info
    set site_id = #{siteId,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      msisdn = #{msisdn,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      first_regst_time = #{firstRegstTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>